<div class="columns">
  <div class="column">
    <h1>Welcome to my awesome website!</h1>
    <div class="media">
      <figure class="image is-128x128 media-left">
        <img class="is-rounded" src="/assets/profile_picture.jpg" alt="My headshot" />
      </figure>
      <div class="media-content">
        <div class="content">
          <p>Welcome to the personal website of Joseph R. Quinn, Esq.</p>
          <p>Herein you can find my Curiam Vitae/Resume, musings, tutorials on programming subjects, and links to projects that I've worked on.</p>
          <p>Please enjoy your stay!</p>
          <small>PS: The source code for this website is available <a href="https://github.com/quinnjr/quinnjr.tech" target="_blank">here</a>.</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <h2>Recent Articles</h2>
    <div *ngIf="articles.count() > 0; else elseArticleBlock">
      <div class="card" *ngFor="let article of articles">
        <header class="card-header">
          <div class="card-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          <p class="card-header-title">{{ article.title }}</p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{ article.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseArticleBlock>
      <p>There are currently no articles to display!</p>
    </ng-template>
  </div>
  <div class="column">
    <h2>Recent Work</h2>
    <div *ngIf="projects.count() > 0; else elseProjectBlock">
      <div class="card" *ngFor="let project of projects">
        <header>
          <div class="card-icon">
            <i class="fas fa-"></i>
          </div>
          <p class="card-header-title"></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseProjectBlock>
      <p>There are currently no projects to display!</p>
    </ng-template>
  </div>
</div>
