<app-navigation></app-navigation>
<div class="container" style="padding: 1em 1em 0 1em;">
  <router-outlet></router-outlet>
</div>
<div class="footer" style="position: relative; bottom: 0em; left: 0em; right: 0em; margin-bottom: 0em; margin-top: 1em;">
  <div class="content has-text-centered">
    <p>&copy; 2021 <a href="mailto:quinn.josephr@protonmail.com">Joseph R. Quinn</a></p>
    <p><a href="https://www.digitalocean.com/?refcode=1435c4fef1ca&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg" alt="DigitalOcean Referral Badge" /></a></p>
  </div>
</div>
