<div class="columns">
  <div class="column is-one-fifth">
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a href="#profile">Profile</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#education">Education</a>
        </li>
        <li>
          <a href="#experience">Experience</a>
        </li>
        <li>
          <a href="#certifications">Certifications</a>
        </li>
        <li>
          <a href="#professional">Professional Memberships</a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <div class="content">
      <section class="section">
        <h1 id="profile">Profile</h1>
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="/assets/profile_picture.jpg" />
            </p>
          </figure>
          <div class="media-content">
            <p>A <em>dedicated, versatile, fast-learner</em> anxious to expand his programming and legal skills and make an immediate
contribution.</p>
            <p>Able to efficiently juggle workloads, prevail over deadlines, and adapt to new and challenging
environments.</p>
            <p>A <strong>strong team player</strong> with great ethical standards, communication skills, and respect for
confidentiality.</p>
            <ul>
              <li>Florida Bar - September 2016</li>
              <li>Special interests in DevOps, DevSecOps, Open Source technologies, Intellectual Property, Cyber Law, Linux, Cyber Security, Systems Programming, and GPU-assisted Programming</li>
            </ul>
          </div>
        </article>
      </section>
      <section class="section">
        <h1 id="skills">Skills</h1>
        <div class="columns">
          <div class="column">
            <ul>
              <li>Analytics, Informatics</li>
              <li>Cyber Law</li>
              <li>Linux server management</li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li>Rust, Go, C++/C, PHP, Typescript/Javascript, Node.js, Ruby</li>
              <li>C#, F#, Bash, Python, MySQL, PostgreSQL, NoSQL (Mongodb)</li>
              <li>Agile, Scrum, DevOps, Docker, Kubernetes, Jenkins/JenkinsX, Unity</li>
              <li>Puppet, AWS, Cloudformation, AuroraDB, Terraform, Okta</li>
              <li>Grafana, Git, SecOps</li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li>Intermediate Spanish</li>
              <li>Zoom, Microsoft Teams, Google Meet, Amazon Chime</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section">
        <h1 id="education">Education</h1>
        <section class="section" id="fiu">
          <article class="media">
            <figure class="media-left">
              <p class="image is-16x9">
                <img src="/assets/fiu.jpg" />
              </p>
            </figure>
            <div class="media-content">
              <h2>Florida International University</h2>
              <p>
                <strong>Masters Candidate in Computer Science</strong>: Fall 2022 - Present
              </p>
              <p>
                <strong>Bachelors of Science in Computer Science</strong>: Fall 2017 - Spring 2022
              </p>
              <strong>Activities</strong>
              <ul>
                <li><a href="https://biorg.cs.fiu.edu/pluma/">FIU Bioinformatics Research Group</a> - Lead Student Developer</li>
                <li>Google DSC</li>
                <li>Upsilon Pi Epsilon</li>
                <li>The National Society of Leadership and Success</li>
              </ul>
            </div>
          </article>
        </section>
        <section class="section" id="um">
          <article class="media">
            <div class="media-content">
              <h2>Universtiy of Miami School of Law</h2>
              <p>
                <strong>Juris Doctorate</strong>: Fall 2012 - Spring 2015
              </p>
              <strong>Activities</strong>
              <ul>
                <li>International Law Society - Co-Vice President, Parliamentarian</li>
                <li>Irish American Law Student Association</li>
              </ul>
            </div>
            <figure class="media-right">
              <p class="image is-16x9">
                <img src="/assets/um.jpg" />
              </p>
            </figure>
          </article>
        </section>
        <section class="section" id="michigan">
          <article class="media">
            <figure class="media-left">
              <p class="image is-16x9">
                <img src="/assets/msu.jpg" />
              </p>
            </figure>
            <div class="media-content">
              <h2>Michigan State University School of Law</h2>
              <h4>Summer Abroad Intellectual Property and Cybercrime Institute</h4>
              <p>Rijeka/Dubrovnik, Croatia</p>
              <p>
                <strong>Visiting Juris Doctorate Candidate</strong>: Summer 2014
              </p>
            </div>
          </article>
        </section>
        <section class="section" id="belmont">
          <article class="media">
            <div class="media-content">
              <h2>Belmont University</h2>
              <p>
                <strong>Bachelors in the Arts in Politics and Public Law</strong>: Fall 2008 - Fall 2011
              </p>
              <strong>Activities</strong>
              <ul>
                <li>Dean's List (2 semesters)</li>
                <li>Pre-Law Society - President</li>
                <li>Phi Mu Alpha Sinfonia Fraternity - Vice President, Province Council Representative</li>
                <li>James Madison Society</li>
                <li><em>The Vision</em> Student Newspaper</li>
              </ul>
            </div>
            <figure class="media-right">
              <p class="image is-16x9">
                <img src="/assets/belmont.jpg" />
              </p>
            </figure>
          </article>
        </section>
      </section>
      <section class="section">
        <h1 id="experience">Experience</h1>
        <section class="section">
          <article class="media">
            <figure class="media-left"></figure>
            <div class="media-content">
              <h2 class="title">Kaseya</h2>
              <h3 class="subtitle">IT Glue</h3>
              <h4 class="subtitle">Miami, FL</h4>
              <h4>DevOps Engineer</h4>
              <strong>August 2022 - July 2023</strong>
              <ul>
                <li>Sole Full-Time DevOps employee for Business Unit. Only supported by Platform Manager/Outside DevOps Manager.</li>
                <li>Oversaw and deployed QA, Development, and Production environments in multiple data centers.</li>
                <li>Communicated with Enterprise AWS support.</li>
                <li>Maintained CloudFormation stacks via Sceptre.</li>
                <li>Administered AWS Web Application Firewall; Responded to cyberattacks on infrastructure.</li>
                <li>Updated all servers from Ubuntu 16.04 to Ubuntu 20.04.</li>
                <li>Upgraded PostgesSQL databases from v9 to v13.</li>
                <li>Maintained and upgraded MySQL database.</li>
                <li>Refactored microservice from Ruby 2.3.8 to Ruby 3.2.2.</li>
                <li>Created and deployed Grafana infrastructure.</li>
                <li>Communicated with Product Owners about DevOps goals.</li>
                <li>Responded to PagerDuty on-call alerts.</li>
                <li>Maintained Redis cache cluster.</li>
                <li>Maintained and reindexed ElasticSearch servers.</li>
                <li>Responded to SecOps requests for updating infrastructure, libraries, and VCS security.</li>
                <li>Onboarded and Offboarded engineering team members to AWS, Okta, Jira, Bitbucket, and Jenkins.</li>
                <li>Maintained Jenkins CI/CD infrastructure and pipelines; Restored Jenkins from disaster scenario.</li>
                <li>Administrated Puppet as orchestration mechanism.</li>
                <li>Wrote and converted applications to Docker containers.</li>
                <li>Participated in DevOps and Platform team Scrum meetings.</li>
              </ul>
            </div>
          </article>
        </section>
        <section class="section">
          <article class="media">
            <figure class="media-left"></figure>
            <div class="media-content">
              <h2 class="title">Skillcourt, LLC</h2>
              <h4 class="subtitle">Deerfield Beach, FL</h4>
              <h4>Project Manager/DevOps Engineer/Technology Consultant</h4>
              <strong>May 2021 - Present</strong>
              <ul>
                <li>Consulting on multi-platform development projects.</li>
                <li>Administrating server infrastructure.</li>
                <li>Mentoring FIU Capstone development students.</li>
                <li>Developing physical product firmware.</li>
              </ul>
            </div>
          </article>
        </section>
        <section class="section">
          <article class="media">
            <figure class="media-left"></figure>
            <div class="media-content">
              <h2 class="title">Florida International University</h2>
              <h4 class="subtitle">Miami, FL</h4>
              <h4 class="subtitle">Learning Assistant</h4>
              <strong>August 2020 - May 2022</strong>
              <ul>
                <li>Assisted supervising Professor with running class.</li>
                <li>Mentored and aided students</li>
                <li>Achieved high levels of class passing grades.</li>
              </ul>
            </div>
          </article>
        </section>
        <section class="section">
          <article class="media">
            <figure class="media-left"></figure>
            <div class="media-content">
              <h2 class="title">Eleanor R. Cristol and Judge A. Jay Cristol Bankruptcy Pro Bono Assistance Clinic</h2>
              <h4 class="subtitle">Miami, FL</h4>
              <h4 class="subtitle">Extern</h4>
              <strong>August 2014 - May 2015</strong>
              <ul>
                <li>Reviewed documentation; completed bankruptcy filings.</li>
                <li>Attended trustee meetings (341)</li>
              </ul>
            </div>
          </article>
        </section>
      </section>
      <section class="section">
        <h1 id="certifications">Certifications</h1>
        <ul>
          <li>
            <a href="https://training.linuxfoundation.org/training/devops-and-sre-fundamentals-implementing-continuous-delivery-lfs261/"><strong>Linux Foundation LFS261</strong></a> - DevOps and SRE Fundamentals
          </li>
          <li>
            <a href="https://training.linuxfoundation.org/training/containers-for-developers-and-quality-assurance/"><strong>Linux Foundation LFD254</strong></a> - Containers for Developers and Quality Assurance
          </li>
          <li>
            <a href="https://training.linuxfoundation.org/training/kubernetes-for-developers/"><strong>Linux Foundation LFD259</strong></a> - Kubernetes for Developers
          </li>
          <li>
            <a href="https://training.linuxfoundation.org/training/kubernetes-fundamentals/"><strong>Linux Foundation LFS258</strong></a> - Kubernetes Fundamentals
          </li>
          <li>
            <a href="https://training.linuxfoundation.org/training/a-beginners-guide-to-linux-kernel-development-lfd103/"><strong>Linux Foundation LFD103</strong></a> - A Beginer's Guide to Linux Kernel Development
          </li>
          <li>
            <a href="https://www.nvidia.com/en-us/training/"><strong>NVIDIA Deep Learning Institute</strong></a> - Fundamentals of Acclerated Computing with Cuda
          </li>
          <li>
            <strong>Professional Development Training</strong> - University of Miami
          </li>
          <li>
            <strong>PADI, Intl.</strong> - Open Water Scuba Instructor
          </li>
        </ul>
      </section>
      <section class="section">
        <h1 id="professional">Professional Memberships</h1>
        <ul>
          <li>Florida Bar</li>
          <li>American Bar Assn.</li>
          <li>Professional Assn. of Diving Instructors, Emergency First Response, Intl.</li>
          <li>National Society of Leadership and Success</li>
        </ul>
      </section>
    </div>
  </div>
